<strong>Olá, {{ student }}</strong>
<p>Bem Vindo à rede de Academias Gympoint, confira os dados de sua Matrícula abaixo:</p>
<p>
  <strong>Plano: </strong> {{ membership }} com duração de {{ duration }} Meses <br />
  <strong>Data de Término: </strong> {{ endDate }} <br />
  <strong>Valor Total: </strong> R${{ totalPrice }},00(<strong>R${{ monthlyPrice }},00</strong>/Mês) <br />
  <br />
  <small>
    Nós da Rede Gympoint agradecemos sua preferência e extendemos nossas Boas-Vindas à você.
  </small>
</p>
